<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueTest</title>
    <style>
        .item {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">

        <select v-model="searchType">
                <option v-for="option in searchSelect" :value="option.value"
                > {{ option.text }} </option>
        </select>

        <select>
            <option value="1"> one </option>
            <option value="2" selected> two </option>
            <option value="3"> three </option>
        </select>


        <input type="text" v-model='info' />
        <button @click='handleClick'>button</button>

        <ul>
            <!-- <li v-for='item in list'>{{item}}</li> -->
            <todo-item v-for='item in list' v-bind:item='item'></todo-item>
        </ul>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        Vue.component('todo-item', {
            props: ['item'],
            template: '<li class="item">{{item}}</li>'
        });

        new Vue({
            el: '#app',
            data: {
                info: '',
                list: [],

                searchType: 'search[name]',
                searchText: '',
                searchSelect: [{
                    text: '姓名',
                    value: 'search[name]'
                }, {
                    text: '手机',
                    value: 'search[phone]'
                }, {
                    text: '服务区域',
                    value: 'search[district]'
                }],


            },
            methods: {
                handleClick() {
                    console.log(this.info);
                    this.list.push(this.info);
                    this.info = '';
                }
            }
        })
    </script>



</body>

</html>